#container {
    padding: 20px;
    height: 70px;
    background: rgba(0, 0, 0, 0.2);
    /*width: 1100px;*/
    margin: 50px;
}
.btns {
    margin:  10px 50px;
    text-align: center;
}

body {
    background: #2a61a1;
}



a {
    color: #fff;
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
}
.btn {
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: '微软雅黑';
    width: 120px;
    font-size: 14px;
}
.btn:hover {
    background: rgba(0, 0, 0, 0.4);
}

#red,
#yellow,
#grey,
#green {
    padding: 10px;
    margin: 0 0 0 10px;
    border: 3px solid #fff;
    vertical-align: -8px;
}

#red.active,
#yellow.active,
#grey.active,
#green.active {
    border-color: #000;
}

#red:hover,
#yellow:hover,
#grey:hover,
#green:hover {
    border-color: #999;
}


#red {
    background: #ed3f1d;
}

#yellow {
    background: #ffef3f;
}

#grey {
    background: #9ea0b6;
}

#green {
    background: #48c644;
}