.stack-svg rect {
    cursor: pointer;
}
.axis path,
.axis line {
    fill: none;
    stroke: #2e72a0;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #66bef6;
}

.tip-animation {
    transition-property: top, left, opacity;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0;
}

.d3-tips {
    line-height: 1;
    font-weight: bold;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-size: 12px;
    /*top: 100px!important;*/
}

.x-axis .tick:nth-child(2n) {
    display: none;
}